<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Pengajuan Cuti Mahasiswa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Daftar Pengajuan Cuti Mahasiswa</h1>

        <div id="systemStatus" class="mb-4">
            <strong>Status Sistem Pengajuan: </strong>
            {% if redis_status == 'active' %}
            <span id="statusText" class="badge badge-success">
                Aktif
            </span>
            {% else %}
            <span id="statusText" class="badge badge-danger">
                Tidak Aktif
            </span>
            {% endif %}
        </div>

        <!-- Tombol Open/Close untuk Sistem Pengajuan -->
        <button id="openSystem" class="btn btn-success mb-4">
            Buka Pengajuan
        </button>
        <button id="closeSystem" class="btn btn-danger mb-4">
            Tutup Pengajuan
        </button>
        <!-- <button id="closeSystem" class="btn btn-danger mb-4" {% if redis_status == 'inactive' %}disabled{% endif %}>
            Tutup Pengajuan
        </button> -->
        

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nama Mahasiswa</th>
                    <th>Alasan</th>
                    <th>Status</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% for req in data %}
                    <tr>
                        <td>{{ req.id }}</td>
                        <td>{{ req.nama }}</td>
                        <td>{{ req.alasan }}</td>
                        <td>
                            <div class="p-2 text-center {% if req.status.name == 'Disetujui' %}bg-success{% elif req.status.name == 'Ditolak' %}bg-danger{% elif req.status.name == 'Closed' %}bg-dark{% else %}bg-warning{% endif %} rounded-lg" style="color: white;">
                                {{ req.status.name }}
                            </div>                            
                        </td>
                        <td class="d-flex">
                            {% if req.status.name == 'Pending' %}
                                <button class="btn btn-primary mr-3" data-action="approve" data-id="{{ req.id }}">Approve</button>
                                <button class="btn btn-danger" data-action="reject" data-id="{{ req.id }}">Tolak</button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        document.getElementById('openSystem').addEventListener('click', function() {
            sendToggleRequest('open');
            console.log('open');
        });

        document.getElementById('closeSystem').addEventListener('click', function() {
            sendToggleRequest('close'); 
            console.log('close');
        });

        // // Event Listener untuk Tombol Open/Close Sistem Pengajuan
        // document.getElementById("toggleSystem").addEventListener("click", function() {
        //     const isOpen = confirm("Apakah Anda yakin ingin menutup/membuka sistem pengajuan cuti?");
        //     const action = isOpen ? "open" : "close";
        //     fetch("/toggle_system", {
        //         method: "POST",
        //         headers: {
        //             "Content-Type": "application/json",
        //         },
        //         body: JSON.stringify({ action: action })
        //     })
        //     .then(response => response.json())
        //     .then(data => {
        //         alert(data.message);
        //     })
        //     .catch(error => {
        //         console.error("Error:", error);
        //         alert("Terjadi kesalahan.");
        //     });
        // });

        const buttons = document.querySelectorAll("button[data-action]");

        buttons.forEach(button => {
            button.addEventListener("click", function(event) {
                event.preventDefault();
                const leaveRequestId = this.getAttribute("data-id");
                const action = this.getAttribute("data-action");

                const data = {
                    id: leaveRequestId,
                    action: action
                };

                fetch("/", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    location.reload();
                })
                .catch(error => {
                    console.error("Error:", error);
                    alert("Terjadi kesalahan.");
                });
            });
        });


        function sendToggleRequest(action) {
            console.log(action);
            fetch('/toggle_system', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ action: action }) // Mengirimkan data JSON dengan action yang dipilih
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message); // Menampilkan pesan respons dari server
            })
            .catch(error => {
                console.error('Error:', error); // Menangani error jika ada
            });
        }

    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
