<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pengajuan Cuti</title>
</head>
<body>
    <h1>Pengajuan Cuti</h1>
    <form action="/apply" method="POST">
        <label for="nama">nama:</label>
        <input type="text" id="nama" name="nama" required><br><br>
        
        <label for="alasan">Alasan:</label>
        <textarea id="alasan" name="alasan" required></textarea><br><br>
        
        <button type="submit">Kirim Pengajuan</button>
    </form>
</body>
</html>
